<p-toolbar>
  <ng-template #start>
    @if (showSearch) {
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          pInputText
          [placeholder]="searchPlaceholder"
          [ngModel]="searchQuery"
          (ngModelChange)="onSearchInput($event)"
        />
      </p-iconField>
    }
  </ng-template>
  <ng-template #end>
    <ng-content></ng-content>
    @if (showPrimaryAction) {
      <p-button [label]="primaryActionLabel" icon="pi pi-plus" (onClick)="primaryAction.emit()" />
    }
  </ng-template>
</p-toolbar>
